@use '../var';
@use '../mixin';

.bloc {
    padding: 0 1rem;

    @include mixin.big {
        width: 60%;
    }
    
    @include mixin.printA4 {
        width : 60%;
    }

    &__title {
        color: var.$color-dark;
        padding: 0 0 0.2rem;
        font-size: 1.7em;
        font-weight: lighter;
        text-align: left;
        border-bottom: 1px solid var.$color-dark;
        margin: 1.1rem 0;
        text-shadow: 1px 1px #182037;

        @include mixin.printA4 {
            font-size: 14pt;
            margin: 6pt 0;
        }

    }

    &__intitul {
        font-size: 1.2em;
        color: var.$primary-color;

        @include mixin.printA4 {
            font-size: 10pt;
        }
    }

    &__date {
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
        display: block;
        background-color: var.$color-dark;
        border-radius: 11px;
        color: var.$background-color;
        padding: .2rem 0 .2rem 0;
        margin: 0.4rem 0 0.2rem 0;

        @include mixin.printA4 {
            display: inline;
            font-size: 12pt;
        }

        @include mixin.big {
            width : 18%;
        }
    }
}