@use '../var';
@use '../mixin';

.header {
    width: 100%;
    z-index: 10;
    height: 22vh;
    background-color:var.$text-color-variation;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top : 0.5rem;
    line-height: 0.8;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;

    @include mixin.printA4{
        position: static;
        height : 10pt;
    }

    @include mixin.big {
        display: block;
        padding-top : 1.2rem;
        height: 18vh;
        margin :auto;
        max-width: 63rem;
        top:0;
        left :0;
        right: 0;
    }
    &__title {
        font-weight: bold;
        color: var.$text-color;
    }

    &__secondTitle {
        font-size: 2.3rem;
        font-weight: lighter;
        color: var.$text-color;
        text-shadow: 1px 2px var.$background-color;

    }

    &__principalTitle {
        font-size: 2.8rem;
        line-height: 1;
        text-align: center;
        color: var.$background-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        
        @include mixin.printA4{
            font-size:1.8rem;
        }
}

&__subtitle {
        font-size: 1.2rem;
        font-weight: bold;
        display: block;
        background-color: var.$background-color-dark;
        border-radius: 15px;
        color: var.$background-color;
        padding: .5rem;
        margin-bottom: 3rem;

        @include mixin.printA4 {
            font-size: 12pt;
            color: var.$background-color-dark;
            margin-bottom: 10pt;
        }

        @include mixin.big {
            font-size: 1.1rem;
            width : 25%;
        }
    }
}
 




