@use '../var';
@use '../mixin';

.page {
        // background-color: aqua;
        background-color: var.$background-color;
        // width: 90%;
        max-width : 63rem;
        display: block;
        margin: auto;
        

        @include mixin.printA4 {
            background-color: rgb(255, 255, 255);
            display: flex;
            margin : auto;
          }

        //en dessous de 50rem, les reglges ci dessous ne s'applique pas
         @include mixin.big {
                background-color: rgb(255, 255, 255);
                display: flex;
                margin : 1rem auto;
            }

}

@include mixin.printA4 {
    .page {
    width : 100%;
    }
}
