@use '../var';
@use '../mixin';

.page {
        background-color: var.$background-color;
        max-width : 63rem;
        display: block;
        margin: auto;
        margin: 22vh auto auto;
        padding-top: 1rem;
        

        @include mixin.printA4 {
            background-color: rgb(255, 255, 255);
            display: flex;
            margin : auto;
            margin-top: 3rem;
          }

        //en dessous de 50rem, les reglges ci dessous ne s'applique pas
         @include mixin.big {
                background-color: rgb(255, 255, 255);
                display: flex;
                margin : 1rem auto;
                margin : 8vh auto auto;
            }

}

@include mixin.printA4 {
    .page {
    width : 100%;
    }
}
