$text-color : rgb(1, 18, 18);
$text-color-variation : #BB7021;
$background-color-orange-transp : #bb70211d;
$background-color :  rgb(251, 252, 251);
$background-color-variation :  rgb(251, 252, 251);
$background-color-dark : #182037;